*{
  margin: 0;
  padding: 0;
}

.map{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon{
  font-size: 1.5rem;
  color: rgb(227, 33, 33)
}

.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img{
  width: 500px;
}



.location-info{
  position:absolute;
  top: 11.5px;
  right: 60px;
  width: 300px;
  min-height: 80px;
  padding: 20px;
  background-color: rgba(2, 56, 2, 0.66);
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

.location-info h2{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.header{
    padding: 10px;
  position: fixed;
  top: 0;
  left: 0px;
  right:1200px;
  z-index: 100;  
}

.header.icon{
  color: rgb(114,3,3);
}

.header h1{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.header h4{
  text-align: center;
  margin-left: 25px;
  color:rgb(233, 233, 226);
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-with-background {
  background-color: rgba(209, 18, 18, 0.775);
  top: 20px;
  right: 80px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px; /* Adjust as needed */
  
}